.signin-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    input {
        border-radius: 5px;
        background: #080808;
        width: 305px;
        color: #ffffff82;
        padding: 12px;
        margin: 10px;
        outline: none;
        border: 1px solid #4B4B4B;
    }

    ::placeholder {
        text-align: center; 
     }
}

.flex{
    display: flex;
    align-items: center;
    position: relative;
}

.varify-txt{
    position: absolute;
    right: -25px;
    top: 15px;
  
}


.btnn-div {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}