<main>

    <section>
      <div class="mt">
        <h1> Let’s board</h1>
  
        <h4>Sign in</h4>
      </div>
  
      <div class="mt">
        <div class="signin-box">

            <div>
                <input type="text" placeholder="Desq id">
            </div>

            <div>
                <input type="password" placeholder="Password">
            </div>
  
  
        </div>
  
  
  
        <div class="btnn-div">
          <button class="btnn" (click)="enter()" >Enter</button>
        </div>
  
      </div>
    </section>
  