<main>
    <footer>
        <div class="line">
          <div class="start-line">
            <div class="copyright">
              © Desq 2022
            </div>
          </div>
        </div>
      
        <div class="line">
          <div class="start-line">
            <div class="links">
              <a href="">Privacy policy</a>
              <a href="">Terms of use</a>
              <a href="">Trademark</a>
              <a href="">Refund policy</a>
              <a href="">GDPR</a>
              <a href="">Startup policy</a>
            </div>
          </div>
      
          <div class="end-line">
            <div class="language">
              <a href=""><img width="15" src="assets/img/earth.png" alt=""> English (India)</a>
            </div>
          </div>
        </div>
      </footer>
      
</main>