<main>

    <section >
      <div class="mt">
        <h1> Let’s board</h1>
  
        <h4>Kindly confirm</h4>
      </div>
  
      <div class="mt">
        <div class="language-container">
  
          <div class="language-box " [class.active-box]="tab=='New'" (click)="tabclick('New')">
           New
          </div>

          <div class="or">
            <img src="assets/img/OR.png" alt="">
          </div>
  
          <div class="language-box" [class.active-box]="tab=='Existing'" (click)="tabclick('Existing')">
            Existing
          </div>
  
         
  
        </div>
  
  
  
  
      </div>
    </section>
  
  